* {
    margin: 0;
}

#signOut {
    width: 100px;
}


#forms {
    margin-top: 250px;
}


body {
    background: linear-gradient(to right, #504c4c, #786781);
}

/* #addadvert {
    background-color:aqua;
} */



